<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa người dùng</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<th:block th:replace="layout/fragment :: header"></th:block>
<div class="container">
    <h1>Sửa người dùng</h1>
    <form th:action="@{/users/edit}" th:object="${user}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <!--<form th:action="@{/users/add}" th:object="${user}" method="post">-->
        <div class="col-6 mb-3">
            <label class="form-label" for="username">Tên người dùng: </label>
            <input class="form-control" type="text" th:field="*{username}" id="username">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="email">Email: </label>
            <input class="form-control" type="text" th:field="*{email}" id="email">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="phonenumber">Số điện thoại: </label>
            <input class="form-control" type="text" th:field="*{phonenumber}" id="phonenumber">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="address">Địa chỉ: </label>
            <input class="form-control" type="text" th:field="*{address}" id="address">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="pass">Password: </label>
            <input class="form-control" type="text" name="pass" id="pass">
        </div>

        <div class="col-6 mb-3">
            <label class="col-sm-2 col-form-label">Photo:</label>
            <input class="form-control" type="file" name="image" accept="image/png, image/jpg">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Danh mục quyền: </label>
            <select class="form-control" id ="role" name = "role.id" required>
                <option value="">--Danh mục quyền--</option>
                <option th:each="role :${roles}" th:value="${role.id}"
                        th:text="${role.name}"></option>
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/users}">Quay về</a>
</div>
<th:block th:replace="layout/fragment :: footer"></th:block>

</body>
</html>