<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đổi mật khẩu</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <th:block th:replace="layout/fragment :: header"></th:block>
</head>
<body>
<div class="container">
  <h1>Đổi mật khẩu</h1>
  <form th:action="@{/users/password}" th:object="${user}" method="post" enctype="multipart/form-data">
    <!--<input type="hidden" th:field="*{id}">-->
    <!--<form th:action="@{/users/add}" th:object="${user}" method="post">-->
    <div class="col-6 mb-3">
      <label class="form-label" for="currentPassword">Mật khẩu cũ:  </label>
      <input type="password" id="currentPassword" name="currentPassword" class="form-control"
             placeholder="Mật khẩu cũ" required>
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="newPassword">Mật khẩu mới: </label>
      <input type="password" id="newPassword" name="newPassword" class="form-control"
             placeholder="Mật khẩu mới" pattern=".{7,}" title="Password must be at least 7 characters long"
             required>
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="confirmPassword">Xác nhận lại mật khẩu: </label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
             placeholder="Xác nhận lại mật khẩu" pattern=".{7,}" title="Password must be at least 7 characters long" required>
      <span id="passwordMatch" style="display: none; color: red;">Passwords do not match.</span>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/users}">Quay về</a>
</div>
<th:block th:replace="layout/fragment :: footer"></th:block>
</body>
</html>